@import "../../styles/partials/Global.scss";
@import "../../styles/partials/Variables.scss";
@import "../../styles/partials/Mixins.scss";

.related-video {
  &__container {
    display: flex;
    margin-bottom: 1.5rem;
  }

  &-thumbnail__conatiner {
    margin-right: 1rem;
    height: 4.375rem;
    max-width: 7.5rem;
    min-width: 7.5rem;
    overflow: hidden;
    border-radius: 4px;
  }

  &-image {
    width: 110%;
  }

  &-title-user__container {
    max-width: 10.625rem;
  }

  &__title {
    @include header-4;
    margin-bottom: 0.25rem;
  }

  &__user {
    @include text;
  }
}
