@import "../../../partials/Global.scss";
@import "../../../partials/Mixins.scss";
@import "../../../partials/Variables.scss";

.comment {
  &-new {
    display: flex;
    padding: 1.5rem 0;
    border-bottom: 1px solid $divider;
  }

  &-user__image {
    width: 3rem;
    height: 3rem;
    background-color: grey;
    margin-right: 1.25rem;
    border-radius: 100%;

    &--margin {
      margin-top: 1.5rem;
    }
  }

  &-new-user__image {
    width: 3rem;
    height: 3rem;
    background-color: grey;
    margin-right: 1.25rem;
    border-radius: 100%;
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    overflow: hidden;
    margin-top: 1.5rem;
  }

  &-data {
    @include mediaQ($tablet-width) {
      max-width: 39rem;
    }
  }

  &-data {
    display: flex;
    flex-direction: column;
  }

  &-name-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;

    @include mediaQ($tablet-width) {
      justify-content: start;
    }
  }

  &-name {
    @include header-4;

    @include mediaQ($tablet-width) {
      margin-right: 1rem;
    }
  }

  &-date {
    @include header-4-list;
  }

  &-text {
    @include text;
    word-wrap: break-word;
  }
}
